$frame-aside-width: 320px;

.f {
  &__wrapper {
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    > iframe {
      border: 0;
      display: inline-block;
      padding-bottom: $navbar-height;
    }
  }

  &__controls {
    margin: 0 auto;

    .btn > i {
      &.opened {
        font-weight: 600;
      }
    }
  }

  &__main-wrap {
    overflow-y: hidden;
    height: 100vh;

    .app-header {
      input.form-control {
        width: 80px;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;

        &.medium {
          width: 150px;
        }
      }
    }
  }

  &__aside {
    &.aside-menu .tab-content {
      overflow-y: scroll;
      height: 100vh;
      padding-bottom: 150px;
    }
    form {
      padding: 0.75rem 1.25rem;
    }
  }

  &__pointer--enabled {
    position: relative;
  }
}

.app-body {
  .aside-menu {
    &.f__aside {
      flex: 0 0 $frame-aside-width;
      width: $frame-aside-width;
    }
  }
}

html:not([dir="rtl"]) .aside-menu.f__aside {
  margin-right: -$frame-aside-width;
}

@media (min-width: 992px) {
  html:not([dir="rtl"]) .aside-menu-show .aside-menu.f__aside,
  html:not([dir="rtl"]) .aside-menu-lg-show .aside-menu.f__aside {
    margin-right: 0;
  }
}
