$pointer-size: 30px;

.pointer {
  background-color: $primary;
  color: $gray-100;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  z-index: 1001;
  position: absolute;
  width: $pointer-size;
  height: $pointer-size;
  line-height: $pointer-size;
  margin-top: -$pointer-size / 2;
  margin-left: -$pointer-size / 2;
  border-radius: 50%;
  box-shadow: $box-shadow-tooltip;

  &__layer {
    transition: ease-in;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .2);
    z-index: 1000;
  }

  &__wrapper {
    z-index: 9;
    position: absolute;
    top: 55px;
    left: 0;
  }
}