$trello-board-height: calc(100vh - 300px);
$trello-board-content-height: calc(100vh - 400px);
$trello-board-lane-bg: $gray-800;
$trello-board-lane-bg--hover: darken($gray-800, 3);

$scrollbar-height: 6px;
$scrollbar-bg: rgba($gray-900, 0.5);
$scrollbar-thumb-bg: $text-muted;

$card-icons-size: 20px;

.react {
  &-trello {
    &-card-icon {
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      width: $card-icons-size;
      height: $card-icons-size;

      &.with-user {
        background-color: $gray-600;
        border-radius: 50%;
        text-transform: uppercase;
        font-size: 80%;
        padding-top: 2px;
        transition: $transition-base;

        &:hover {
          box-shadow: $box-shadow-lg;
          transition: $transition-base;
        }
      }
    }

    &-board {
      &.my-board {
        background-color: transparent;
        height: $trello-board-height;
        padding: 0;
        &::-webkit-scrollbar-track {
          border-radius: $scrollbar-height / 2;
          background-color: $scrollbar-bg;
        }
        &::-webkit-scrollbar {
          border-radius: $scrollbar-height / 2;
          height: $scrollbar-height;
          background-color: $scrollbar-bg;
        }
        &::-webkit-scrollbar-thumb {
          border-radius: $scrollbar-height / 2;
          background-color: $scrollbar-thumb-bg;
        }

        .smooth-dnd-container {
          max-height: $trello-board-content-height;
          &.horizontal > {
            .smooth-dnd-draggable-wrapper {
              height: $trello-board-height;
              margin-right: .5rem;

              &:hover {
                cursor: pointer;
              }

              &:last-child {
                margin-right: 0;
              }
            }
          }

          &.vertical {
            > div {
              margin-bottom: .7rem;

              &:last-child {
                margin-bottom: 0;
              }
            }
            .smooth-dnd-draggable-wrapper {
              &:hover {
                cursor: pointer;
              }
            }
          }

          > span {
            &:last-child {
              > section {
                margin-right: 0;
              }
            }
          }
        }

        .react-trello-lane {
          background-color: $trello-board-lane-bg;
          color: $gray-300;
          margin: 0;
          transition: $transition-base;
          margin-right: .5rem;

          &:hover {
            background-color: $trello-board-lane-bg--hover;
            transition: $transition-base;
          }

          .react-trello-card {
            background-color: $gray-700;
            border-bottom: 1px solid $gray-700;
            transition: $transition-base;
            border-radius: 4px;
            padding: .5rem!important;
            max-width: 250px;
            white-space: normal;

            &:hover {
              background-color: lighten($gray-700, 5);
            }

            header {
              border-bottom: 1px solid $gray-800;
              color: $gray-300;
              display: flex;
              justify-content: space-between;
              margin-bottom: .2rem;
              padding-bottom: .5rem;

              > span {
                &.label {
                  > span {
                    width: $card-icons-size;
                    height: $card-icons-size;
                    margin-right: .2rem;
                    &:last-child {
                      margin-right: 0;
                    }
                  }
                }
              }

              + div {
                color: $text-muted;
              }
            }
          }

          > div {
            margin-top: .5rem;
            padding-top: .7rem;
            padding-bottom: 0;
            border-top: 1px solid $gray-700;
            &::-webkit-scrollbar-track {
              border-radius: $scrollbar-height / 2;
              background-color: $scrollbar-bg;
            }
            &::-webkit-scrollbar {
              border-radius: $scrollbar-height / 2;
              width: $scrollbar-height;
              background-color: $scrollbar-bg;
            }
            &::-webkit-scrollbar-thumb {
              border-radius: $scrollbar-height / 2;
              background-color: $scrollbar-thumb-bg;
            }
          }
        }
      }
    }
  }
}

.my-board-layout {
  position: relative;
  &:before {
    transition: $transition-base;
    content: '';
    display: block;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: static;
    background-color: $gray-base;
    opacity: 0;
    z-index: 100;
  }

  &.loading {
    pointer-events: none;

    &:before {
      transition: $transition-base;
      position: absolute;
      pointer-events: none;
      background-color: $gray-base;
      opacity: .3;
    }
  }
}