.rw {
  &-widget {
    min-width: $widget-default-size;
    color: $white;
    &.tiny {
      min-width: $widget-tiny-size;
    }
    &-input {
      box-shadow: $widget-shadow;
    }
    &-container {
      background: $gray-700;
      border-color: $gray-700;
    }
  }
  &-popup {
    background: $gray-700;
    border-color: $gray-700;
    color: $white;
  }
  &-input {
    color: $gray-300;
  }
  &-list-option {
    color: $gray-300;
    transition: $transition-base;
  }
  &-i {
    font: $material-font;
    color: $white;
    transition: $transition-base;
    &-search {
      &:before {
        content: '\f1c3'
      }
    }
  }
}

.rw-widget-container.rw-state-focus,
.rw-state-focus > .rw-widget-container,
.rw-widget-container.rw-state-focus:hover,
.rw-state-focus > .rw-widget-container:hover {
  background-color: $gray-700;
  border-color: $gray-700;
  box-shadow: $widget-shadow;
  transition: $transition-base;
}

.rw-list-option.rw-state-focus,
.rw-list-option.rw-state-focus:hover {
  background-color: $gray-700;
  border-color: $gray-700;
  box-shadow: $widget-shadow;
  transition: $transition-base;
  color: $white;
}

.rw-list-option.rw-state-selected,
.rw-list-option.rw-state-selected:hover {
  background-color: $primary;
  border-color: $primary;
  color: $white;
  transition: $transition-base;
}

.rw-list-option:hover,
.rw-list-option:hover.rw-state-focus {
  background-color: $gray-600;
  border-color: $gray-600;
  color: $white;
  transition: $transition-base;
}

.rw-i-caret-down:before {
  content: '\f2f9';
}

.rw-open {
  .rw-i-caret-down {
    transform: rotate(180deg);
  }
}

.rw-state-disabled {
  color: $text-muted!important;
  > .rw-widget-picker {
    background-color: inherit;
  }
  .rw-input {
    color: $text-muted;
  }
}