//Toastr restyling
.Toastify {
  &__toast {
    border-top: 3px solid $black;
    background: $gray-800;
    border-radius: 4px;
    box-shadow: $box-shadow-tooltip;
    &--error {
      border-top-color: $red;
    }
    &--success {
      border-top-color: $green;
    }
    &--warning {
      border-top-color: $warning;
    }
    &--info {
      border-top-color: $info;
    }
  }
  &__progress-bar {
    background: rgba($black, .7);
  }
}