//Asside menu

.aside-menu {
  .tab-content {
    background: $gray-800;
  }
  .nav-tabs .nav-link.active {
    color: $primary!important;
  }
  .list-group {
    > li {
      background: $gray-700;
    }
  }
}