.cropper {
  &__wrap {
    align-items: flex-end;
    flex-direction: column;
    display: flex;
  }
  &__preview {
    color: $white;
    text-transform: uppercase;
    text-align: center;
    line-height: 80px;
    font-size: 2rem;
    font-weight: bold;
    float: left;
    width: 80px;
    height: 80px;
    background-color: $danger;
    border-radius: 50%;
    position: relative;
    &:before {
      content: '';
      display: block;
      background: rgba($gray-base, .7);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 50%;
      opacity: 0;
      transition: .15s ease-in-out;
    }
    > i.zmdi {
      position: absolute;
      width: 20px;
      height: 20px;
      margin-top: -25px;
      margin-right: -10px;
      top: 50%;
      right: 50%;
      opacity: 0;
      transition: .15s ease-in-out;
    }
    > small {
      line-height: 10px;
      font-size: 10px;
      text-transform: none;
      position: absolute;
      top: 60%;
      right: 0;
      left: 0;
      opacity: 0;
      width: 100%;
      text-align: center;
      display: inline-block;
      transition: .15s ease-in-out;
    }
    > img {
      margin-top: -5px;
      width: 80px;
      height: 80px;
      border-radius: 50%;
    }
    &.with-avatar {
      &:hover {
        > i.zmdi {
          cursor: pointer;
        }
        &:before,
        > small,
        > i.zmdi {
          opacity: 1;
          transition: .15s ease-in-out;
        }
      }
    }
  }
}

//Custom styles
.custom-cropper {
  .preview {
    > div {
      margin: 0 auto;
      &:last-child {
        margin-bottom: 0;
      }
      > * {
        display: block;
      }
    }
    .img-preview {
      display: inline-block;
      vertical-align: middle;
      overflow: hidden;
      border-radius: 50%;
      background-color: $gray-800;
      &.s100 {
        width: 100px;
        height: 100px;
      }
      &.s60 {
        width: 60px;
        height: 60px;
      }
      &.s30 {
        width: 30px;
        height: 30px;
      }
    }
  }
}