//Dropdown customizations
.dropdown {
  &-menu {
    top: -100%;
    margin-top: .5rem;
    padding: 0;
  }
  &-header {
    background: $dropdown-header-bg;
    line-height: .9rem;
  }
  &-item {
    transition: .15s ease-in all;
    i {
      color: $primary;

      &.fa-lock {
        color: $danger;
      }
    }
    &:focus {
      i {
        color: $white;
      }
    }
    &:hover {
      cursor: pointer;
    }
  }
  &.show {
    .dropdown-menu {
      top: 0;
    }
  }
  &.user-dropdown {
    .dropdown-menu {
      right: 0;
      top: 100%;
    }
  }
}
