.form-control:disabled,
.form-control[readonly],
.page-item.disabled {
  cursor: not-allowed;
}

input[type=text].form-control:disabled,
input[type=number].form-control:disabled,
input[type=password].form-control:disabled,
input[type=phone].form-control:disabled,
select.form-control:disabled {
  background-color: inherit !important;
  color: $text-muted;
}

input[type=text],
input[type=number],
input[type=password],
input[type=phone],
select {
  &.form-control {
    display: block;
    width: 100%;
    height: calc(2.0625rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.5;
    color: $gray-100;
    background-color: $gray-700!important;
    background-clip: padding-box;
    background-position: inherit!important;
    background-repeat: inherit!important;
    border-radius: 0.25rem!important;
    border: 1px solid $gray-700!important;
    -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
}
