.custom-form {
  label {
    text-transform: capitalize;
  }

  &.av-invalid {
    .form-group {
      > input.is-invalid {
        border-color: $red!important;
        background-repeat: no-repeat!important;
        background-position: center right calc(2.0625rem / 4)!important;
      }
    }
    .invalid-feedback {
      color: $red;
    }
  }
}

.modal-body {
  .custom-form {
    .form-group {
      > input {
        background-color: $gray-800!important;
      }
    }
  }
}
