.issues {
  .svg-icon {
    width: 160px;
    fill: $gray-100;

    &.default {
      path {
        fill: $gray-700;

        &.secondary {
          fill: $gray-500;
        }
      }
    }
  }

  .default-list {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;

    .content {
      text-align: center;

      svg {
        margin-bottom: 2rem;
      }
    }
  }
}