.app {
  &.login,
  &.registration {
    background-color: $gray-700;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    &:before,
    &:after {
      width: 1922px;
      height: 1670px;
      background-color: $gray-600;
      position: absolute;
      display: block;
      content: "";
      left: 360px;
      top: -840px;
      border-radius: 100%;
      opacity: .07;
    }
    &:after {
      background-color: $gray-500;
      left: -700px;
      top: 730px;
      opacity: .03;
    }
    .card-group,
    .card {
      @include default-shadow;
      &.hovered {
        transform: scale(.8, .8) translate(0, -100%);
        transition: .15s ease-in;
        opacity: 0;
        &.loaded {
          transition: .15s ease-in;
          transform: scale(1, 1) translate(0, 0);
          opacity: .9;
          &:hover {
            transition: .15s ease-in;
            opacity: 1;
          }
        }
      }
    }
  }
}