.modal {
  text-align: center;
  .close {
    display: none;
  }
  &-dialog {
    display: inline-block;
    vertical-align: middle;
  }
  &:before{
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px
  }
  .modal-dialog {
    transform: scale(0.3)!important;
    transition: 0.15s ease-in-out;
  }
  &.show {
    .modal-dialog {
      transform: scale(1)!important;
      transition: 0.15s ease-in-out;
      opacity: 1;
    }
  }
}
