.navbar-nav {
  .nav-link {
    .letter-avatar {
      text-transform: uppercase;
      height: 50px;
      line-height: 40px;
      background-color: $red;
      color: $white;
      border-radius: 50%;
      border: 5px solid $gray-800;
      font-size: 20px;
      transition: .3s ease-in-out;
      &:hover {
        background-color: lighten($red, 5);
        transition: .3s ease-in-out;
      }
    }
  }
}
