//Preloader
.preloader {
  margin: 40px auto;
  width: 40px;
  height: 40px;
  position: relative;
  transform: rotateZ(45deg);
  &__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    &.relative {
      position: relative;
    }
  }
  + p {
    text-align: center;
  }
  .pre-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    transform: scale(1.1);
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $white;
      animation: pre-foldCubeAngle 2.4s infinite linear both;
      transform-origin: 100% 100%;
    }
    &2 {
      transform: scale(1.1) rotateZ(90deg);
      &:before {
        animation-delay: 0.3s;
      }
    }
    &3 {
      transform: scale(1.1) rotateZ(180deg);
      &:before {
        animation-delay: 0.6s;
      }
    }
    &4 {
      transform: scale(1.1) rotateZ(270deg);
      &:before {
        animation-delay: 0.9s;
      }
    }
  }
}
