//Project Card - Custom card (components/shared/DashboardCard/index.js)
.project-card {
  .brand-card {
    transition: .15s ease-in;
    &-header {
      background-color: $gray-700;
      justify-content: left;
      align-items: flex-start;
      padding: 1rem 1rem 0 1rem;
    }

    &-body {
      > .controls {
        z-index: 100;
        position: absolute;
        text-align: right;
        top: -10px;
        right: -10px;
        opacity: 0;
        transform: scale(0);
        transition: .15s ease-in;
        .btn {
          padding: 0;
          width: 24px;
          height: 24px;
          line-height: 12px;
        }
      }
    }

    &:hover {
      box-shadow: $box-shadow-md-inverse;
      transition: .15s ease-in;
      .controls {
        opacity: 1;
        transform: scale(1);
        transition: .15s ease-in;
      }
    }
  }

  .text-value {
    font-size: 1rem;
  }

  &-header {
    padding: 1rem;
    margin-right: 1rem;
    text-transform: uppercase;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    text-align: center;
    overflow: hidden;
    position: relative;
    > img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 50%;
      width: 60px;
      height: 60px;
    }
  }

  &-title {
    line-height: 1.2rem;
    &:first-letter {
      text-transform: capitalize;
    }
    > a {
      color: $white;
      &:hover {
        color: $green;
      }
    }
  }

  &.add {
    > div {
      background: transparent;
      border-color: transparent;
      height: 100%;
      .card-body {
        display: flex;
        justify-content: center;
        background-color: transparent;
        flex-direction: column;
        text-align: center;
        border-radius: $border-radius;
        margin-bottom: 1.4rem;
        transition: .15s ease-in-out;
      }
      &:hover {
        .card-body {
          background-color: $green;
          a {
            color: $white;
          }
        }
      }
    }
  }

  &.with-dropdown {
    .brand-card {
      &-body {
        > .controls {
          opacity: 1;
          transform: scale(1);
        }
      }
    }
  }
}
