.projects-list {
  list-style-type: none;
  padding-left: 0;
  li {
    display: flex;
    flex-direction: row;
    padding: 10px 15px;
    border-bottom: 1px solid $gray-700;
    .avatar-project {
      width: 80px;
      height: 80px;
      text-transform: uppercase;
      border-radius: 50%;
      min-width: 80px;
      text-align: center;
      overflow: hidden;
      position: relative;
      margin-right: 15px;
      a {
        display: block;
        height: 100%;
        width: 100%;
        color: $white;
        padding: 1.5rem;
        font-size: 1.2rem;
        img {
          width: 80px;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          border-radius: 50%;
          height: 80px;
        }
      }
    }
    .project-details {
      align-items: center;
      flex-grow: 1;
      .project-title {
        color: $white;
        font-size: $h5-font-size;
        margin-bottom: 15px;
      }
      p {
        margin-bottom: 0;
      }
    }
    .update-project {
      display: flex;
      align-items: center;
      span {
        vertical-align: middle;
      }
    }
  }
}