.project-add {
  .sub-project {
    position: relative;
    margin-top: 3rem;
    border-top: 1px solid rgba($gray-600, .8);
    .header {
      margin-bottom: 2rem;
    }
    &__remove {
      font-size: 1.5rem;
      opacity: .7;
      transition: .15s ease-in;
      float: right;
      &:after {
        content: '';
        clear: both;
        display: block;
        height: 0;
      }
      &:hover {
        cursor: pointer;
        transition: .15s ease-in;
        transform: rotate(90deg);
      }
    }
  }

  &.success {
    padding-top: 4rem;
  }
}