.project-edit {
  padding-top: 90px;
  .card-header {
    padding-top: 10px;
    padding-bottom: 7px;
    .avatar {
      position: absolute;
      width: 120px;
      height: 120px;
      top: -90px;
      border-radius: 50%;
      text-align: center;
      line-height: 120px;
      font-size: 3rem;
      @include default-shadow--with-color($gray-base);
      img {
        width: 120px;
        height: 120px;
      }
    }
    .title {
      position: absolute;
      top: -60px;
      left: 160px;
    }
    .badges {
      > * {
        display: inline-block;
        margin-right: .5rem;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

//Members list (Invite to the project)
$member-avatar-width: 37px;

.members {
  &-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  &-item {
    display: inline-block;
    background-color: gray;
    border-radius: 50%;
    position: relative;
    vertical-align: middle;
    text-align: center;
    width: $member-avatar-width;
    height: $member-avatar-width;
    margin-right: -8px;
    border: 2px solid $gray-800;
    float: right;
    text-transform: uppercase;
    transition: $transition-base;
    @include default-shadow--with-color($gray-base);
    > span {
      line-height: $member-avatar-width;
    }
    > button.btn {
      padding: 0;
      line-height: initial;
      top: 0;
      right: 0;
      position: absolute;
      opacity: 0;
    }
    &:hover:not(.add) {
      margin: 0 -1px 0 7px;
      > button.btn {
        top: -16px;
        right: -11px;
        opacity: 1;
      }
    }
    &.add {
      background-color: transparent;
      border: 0;
      margin:  0 0 0 5px;
      text-align: center;
      > button.btn {
        opacity: 1;
        position: relative;
        font-size: 1.2rem;
        vertical-align: middle;
        margin-top: 8px;
      }
    }
  }
}