body {
  background-color: $black;
}

:focus {
  outline: none;
}

a, .btn-link {
  color: $green;
  @include transition(.3s ease all);
  &:hover {
    color: lighten($green, 20%);
    text-decoration: none;
    @include transition(.3s ease all);
  }
}

.btn-link {
  &:focus,
  &.focus {
    text-decoration: none;
  }
}

.app-title {
  margin: 1.5rem 0 1rem 0;
}

.nav-tabs {
  .nav-link {
    &:hover {
      cursor: pointer;
      border-color: transparent;
      color: $gray-300!important;
    }
    &.active {
      color: $primary;
      background: $gray-800;
      border-color: $border-color;
      border-bottom-color: $black;
      &:focus {
        background: $gray-700;
        border-color: $border-color;
        border-bottom-color: $black;
      }
    }
  }
}

/* Hide HTML5 Up and Down arrows. */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

//Helpers
.relative {
  position: relative;
}