.site-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 300px;
  margin-top: -150px;
  margin-left: -200px;
  opacity: 1;
  &__wrap {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1001;
    width: 100%;
    height: 100vh;
    filter: drop-shadow(16px 16px 20px red) invert(75%);
    &.fade {
      bottom: auto;
      top: -100%;
      filter: none;
    }
  }
}