button.btn {
  position: relative;

  &.loading {
    opacity: .7;
    color: transparent;
    pointer-events: none;
  }
  + i.zmdi {
    position: absolute;
    width: 22px;
    height: 22px;
    font-size: 22px;
    left: 50%;
    margin-left: -11px;
    top: 6px;
    text-align: center;
  }
}